PORT=4000
MONGODB_URI=mongodb+srv://jatinpawar354_db_user:rmgMCKNi5CfMJUeb@cluster0.dp9pg2n.mongodb.net
JWT_SECRET=YKajQh3CXRUXbr9o71JQlMWIcPwyMkwtHTwfM93-fkmRWpCT_rk7kmsuU0ru7GeppTfR0zHeK4qiyHFQfLm06w
